Back-end/chat-service/.idea
Back-end/chat-service/.venv
Back-end/chat-service/__pycache__
Back-end/chat-service/.env

Back-end/file-service/dist
Back-end/file-service/node_modules
Back-end/file-service/uploads

Back-end/person-service/.gradle
Back-end/person-service/.idea
Back-end/person-service/build
Back-end/person-service/person-service-1.0.0.jar
Back-end/person-service/schema.mv.db
Back-end/person-service/schema.trace.db
Back-end/person-service/HELP.md

Front-end/mobile-app/.expo
Front-end/mobile-app/node_modules

.idea